.multicolortext {
    background-image: linear-gradient(to bottom, #10545a, #36b4c2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }