<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="float: right; margin-top: 20px;">
    <ion-title>Sign-In</ion-title>
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 120px; margin-left: 100px;">
    <img src="../assets/L.png" style="height: 100px"/>
    
  </div>
  
  <b>
      <p style="text-align: center;"> <span class="multicolortext"> Linking you to your future</span></p>
    </b>

  <br>
  
    <ion-item style="margin-left: 30px; margin-right: 30px;">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Email" type="text" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item style="margin-left: 30px; margin-right: 30px;">
      <ion-icon slot="start" name="keypad-outline"></ion-icon>
      <ion-input placeholder="Password" type="password" required [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button color="tertiary" type="submit" expand="block" (click)= "login()" style="margin-top: 30px; margin-left: 20px;  margin-right: 20px; margin-bottom: 10px">Sign In</ion-button>
        <a style="margin-right: 18px; margin-left: 20px;" [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
       
        <a [routerLink]="['/registration']" class="small-text">Don't have an account?</a>
      </ion-col>

      
    </ion-row>
  
</ion-content>