.multicolortext {
    background-image: linear-gradient(to bottom, #10545a, #36b4c2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }


  ion-icon{
    color:#10545a
  }

  ion-button{
    margin-left: 20px;
    margin-right: 20px;
    
  }
  ion-title{
    color: #10545a;
  }