<ion-header>
  <ion-toolbar>
    <!-- <ion-back-button></ion-back-button> -->
    <img src="../assets/L.png" style="height: 50px"/>
    <div style="float: right; margin-top: 20px;">
      <ion-title>Sign-up</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content>
 <form [formGroup] = "registrationForm" (ngSubmit)="submit()" style="margin-top: 160px;">
   <ion-list>
     <ion-item>
       <ion-label position="floating">Name</ion-label>
       <ion-input formControlName="name" autocapitalize inputmode="text"></ion-input>
       <ion-icon slot="start" name="people-outline"></ion-icon>
       
       </ion-item>
       <!-- <div *ngFor="let error of messages.name">
         <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
           <small class="error-message">
             {{error.errorMessages}}
           </small>
         </ng-container>
       </div> -->


       

       <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input formControlName="surname" autocapitalize inputmode="text"></ion-input>
        <ion-icon slot="start" name="people-outline"></ion-icon> 
        
      </ion-item>
        <!-- <div *ngFor="let error of messages.surname">
          <ng-container *ngIf="surname.hasError(error.type) && (surname.dirty || surname.touched)">
            <small class="error-message">
              {{error.errorMessages}}
            </small>
          </ng-container>
        </div> -->



        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" autocapitalize inputmode="email"></ion-input>
          <ion-icon slot="start" name="mail-outline"></ion-icon> 
        </ion-item>
          <!-- <div *ngFor="let error of messages.email">
            <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">
                {{error.errorMessages}}
              </small>
            </ng-container>
          </div> -->



          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" autocapitalize inputmode="password"></ion-input>
            <ion-icon slot="start" name="keypad-outline"></ion-icon> 
          </ion-item>
            <!-- <div *ngFor="let error of messages.password">
              <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                <small class="error-message">
                  {{error.errorMessages}}
                </small>
              </ng-container>
            </div> -->




            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input formControlName="confirmPassword" autocapitalize inputmode="confirmPassword"></ion-input>
              <ion-icon slot="start" name="keypad-outline"></ion-icon>  
            </ion-item>
              <!-- <div *ngFor="let error of messages.confirmPassword">
                <ng-container *ngIf="confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
                  <small class="error-message">
                    {{error.errorMessages}}
                  </small>
                </ng-container>
              </div> -->

              <ion-button [routerLink]="['/tabs']" type="submit" expand="block">
                Submit
                <ion-icon slot="start" name="create"></ion-icon>
              </ion-button>
   </ion-list>
 </form>
</ion-content>