@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

ion-slides {
    height: 100%;
    
}

ion-slide {
    display: block;
    
}

ion-slide img {
    padding: 15%;
}

.slider-text {
    padding-top: 20%;
    color: whitesmoke;
}

.slider-text h2 {
    font-family: 'Lora', serif;
}

.navigator {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}