<ion-header>

</ion-header>

<ion-content class="ion-padding" >
  <ion-slides pager="true" style="background-image: linear-gradient(to bottom, #7857fe, #8669f8);">
    <ion-slide class="ion-padding">
      <img src="../../assets/image1.png" >

      <div class="slider-text">
        <h2>What's New?</h2>

        <p>
          Latest updates on, job oppertunities, burseries/scholarships and many more.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="white" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="white" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/People of Brooklyn - Work From Home.png"  >

      <div class="slider-text">
        <h2>APS Calculator!</h2>

        <p>
          One of the most important things you 
          need to know before you apply is your APS.
        </p>
        
      </div>

      <div class="navigator">
        <ion-button color="white" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="white" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Dayflow - Work from Home.png" style="height: 200px; width: 300px;" >

      <div class="slider-text">
        <h2>
          Search!
        </h2>

        <p>
          Using your score, searching for the best suited course/ career path has never been this easy.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="white" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="white" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/image4.png"  >

      <div class="slider-text">
        <h2>Easy Access!</h2>

        <p>
          
          Create an account or login to,
          start exploring oppertunities best suited for you on your smartphone!
        </p>
      </div>

      <ion-button color="primary-shade" [routerLink]="['/welcome']">GET STARTED</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>