<ion-content style="font-family:cursive; text-align:center;">
    <header>
        <div style="float: left;">
            <img src="../assets/L.png">
        </div>
        
    </header>
    <body>
        <div>
         <h1>
            Profile
        </h1>
        </div>
       

        <div style="margin-top: 30px; padding-bottom: 30px;">
        <h2>Personal information</h2>
        </div>



        <div style="padding-bottom: 20px;">
          <input type="text" placeholder="Name:" id="name">  
        </div>
        
        <div style="padding-bottom: 20px;">
           <input type="text" placeholder="Surname:" id="surname"> 
        </div>
        <div style="padding-bottom: 20px;">
           <input type="text" placeholder="Age:" id="age">
        </div>

        <div style="padding-bottom: 20px;">
          <input type="text" placeholder="Gender:" id="gender">  
        </div>
        


        <div style="margin-top: 70px; padding-bottom: 30px;">
            <h3>Contact details</h3>
        </div>
        

        <input type="text" placeholder="Phone number:" id="pNumber">
        <br>
        <br>
        <input type="text" placeholder="Email:" id="email">
        <br>
        <br>
        <input type="text" placeholder="Address:" id="address">

        <br>
        <br>
        <br>
        <ion-button>
         Save
        </ion-button>
        <ion-button>
            Cancel
        </ion-button>
    </body>
</ion-content>