<ion-header>
  <ion-toolbar>
    <!-- <ion-back-button></ion-back-button> -->
    <img src="../assets/L.png" style="height: 50px"/>
    <div style="float: right; margin-top: 20px;">
      <ion-title>Calculator</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>


<div style="font-family: 'Times New Roman', Times, serif; color: black; text-align: center; font-size: small;">
  <p style="margin-top: 30px; font-family: cursive;">
    <b>
    Choose subject name <br> and corrisponding mark
    </b>
  </p>
  </div>

<ion-list>
    <ion-select style="width:40%; margin-left: 12px;   float:left" class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
  <br>
<br>
    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc1" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
  <br>

<br>
    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc2" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
  <br>
<br>
    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc3" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
  <br>
  <br>
    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc4" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
  <br>
  <br>

    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>

           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc5" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
   
  <br>
  <br>

    <ion-select style="width:40%; margin-left: 12px;   float:left"class="select-css" placeholder="--Select Subject--">
      <ion-select-option *ngFor="let sub of subList" slot="end"  >
       <div>
         {{sub.title}}
       </div>
         </ion-select-option>
          </ion-select>


          
           <ion-select style="width:40% ; margin-left: 12px; float:left"class="select-css" [(ngModel)]="perc6" placeholder="--Select Mark--">
           <ion-select-option *ngFor="let mar of marks">
          {{mar.name}}
        </ion-select-option>
        
      </ion-select>
   
</ion-list>
 
 
 <ion-label style="margin-left: 100px;">
   Aps Score: {{sum}}
 </ion-label>

 <ion-button style="width:40%; margin-left: 100px;"  (click)="calculate()">
   Calcuate
 </ion-button>