<ion-header>
  <ion-toolbar>
    <!-- <ion-back-button></ion-back-button> -->
    <!-- <img src="../assets/L.png" style="height: 50px"/> -->
    <div style="text-align: center;">
      <ion-title>Search</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>

<div style="text-align: center; margin-top: 20px; font-family: cursive; ">
  <p>
    This feature allows you to find <br> a suitable course based on your aps.
  </p>  
  
  </div>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullFactor="0.5" pullMin="100" ></ion-refresher-content>
  </ion-refresher>
  
    
      <ion-searchbar placeholder="Enter Your APS Score"  (ionInput)="filterData($event)"></ion-searchbar>
 
      <div *ngIf="showUniversities">


     <ion-list>
  
  <ion-item *ngFor="let university of items; let index=index">
   Institution: {{university.institution}}
  <br>
  Aps Score: {{university.aps}}
  <br>
  Years: {{university.years}}
  <br>
  Location: {{university.location}}
  <br>
  Qualification Type: {{university.qualification}}
  

     </ion-item> 

 

 </ion-list>
   </div>

   <div style="margin-top: 20px;">

        <label style="margin: 4%;" for="validationDefault04">Choose Location</label>
      <select class="custom-select" id="validationDefault04" required   style="width:93%; margin-left: 12px;" >
        <option selected disabled value="">Cape Town</option>
        <option>Kimberley</option>
        <option>Mahikeng</option>
        <option>Johhanesburg</option>
      </select>
   

   
      <label style="margin: 4%;" for="validationDefault04">Preffered Field of study</label>
      <select class="custom-select" id="validationDefault04" required  style="width:93%; margin-left: 12px;">
        <option selected disabled value="">Engineering</option>
        <option>Techonology and Science</option>
        <option>Business studies</option>
       
      </select>
    </div>
  <br>
    <div class="btnButtons">
    <ion-button (click)="submit(this.Universities)" (ionInput)="filterData($event)"  type="button">Submit</ion-button>
  
  </div>
  
  
  
  
  <!-- <div *ngIf="showUniversities">
  
    <ion-item *ngFor= "let university of Universities" (click)="submit(university)"> <br>
      Institution: {{university.University}} <br>
      Aps Score: {{university.aps}} <br>
      Course you qualify for: {{university.Field}} in {{ university.QualificationType }}<br>
      City: {{university.City}}
       </ion-item>
  
  </div> -->
