<ion-header>
  <ion-toolbar >
    <!-- <ion-back-button></ion-back-button> -->
    <!-- <img src="../assets/L.png" style="height: 50px"/> -->
    <div style="text-align: center;">
      <ion-title>Search</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>

<div style="text-align: center; margin-top: 20px; font-family: cursive; ">
  <p>
    This feature allows you to find <br> a suitable course based on your aps.
  </p>  
  
  </div>

  
    

      <!--
<div *ngIf="showUniversities">
           <ion-list>
                <ion-item *ngFor="let university of items; let index=index">
                          Institution: {{university.institution}}
                          <br>
                          Aps Score: {{university.aps}}
                          <br>
                          Years: {{university.years}}
                          <br>
                          Location: {{university.location}}
                          <br>
                          Qualification Type: {{university.qualification}}
                 </ion-item> 
              </ion-list>
         </div>

      -->  


           <div style="margin-top: 20px;">
            <ion-item style="margin-left: 40px; margin-right: 40px; border-radius: 30px;">
              <ion-label>Search Aps: </ion-label>
              <ion-input type="text" required [(ngModel)]="aps"></ion-input>
            </ion-item>
                            <label style="margin: 4%;" for="validationDefault04">Choose Location</label>
                            <select [(ngModel)]="location" class="custom-select" id="validationDefault04" required   style="width:93%; margin-left: 12px;" >
                              <option selected disabled value="">Choose Location</option>
                              <option>Kimberley</option>
                              <option>Mahikeng</option>
                              <option>Johhanesburg</option>
                              <option>Bloemfontein</option>
                              <option>De Aar</option>
                              <option>vredendal</option>
                              <option>Pretoria</option>
                            </select>
                        

                        
                            <label style="margin: 4%;" for="validationDefault04">Preffered Field of study</label>
                            <select [(ngModel)]="field" class="custom-select" id="validationDefault04" required  style="width:93%; margin-left: 12px;">
                              <option selected disabled value="">Choose Field of study</option>
                              <option>Teaching</option>
                              <option>Engineering</option>
                              <option>Financial management</option>
                              <option>Business Management</option>
                              <option>Criminal justice</option>
                              <option>Retailing</option>
                              <option>Tourism</option>
                              <option>Management</option>
                              <option>Software Development</option>
                              <option>Arts</option>

                            
                            </select>
                          </div>
                        <br>
                  <div class="btnButtons">
              <ion-button color="tertiary" (click)="submit()"  type="button" style="width: 200px;">Submit</ion-button>
                        
          </div>
          
  
  
  
  <!-- <div *ngIf="showUniversities">
  
    <ion-item *ngFor= "let university of Universities" (click)="submit(university)"> <br>
      Institution: {{university.University}} <br>
      Aps Score: {{university.aps}} <br>
      Course you qualify for: {{university.Field}} in {{ university.QualificationType }}<br>
      City: {{university.City}}
       </ion-item>
  
  </div> -->
