<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
  
    <ion-buttons [routerLink]="'routerLink'" slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div style="text-align: center; margin-top: 60px;">
  <p>
    Get your latest updates on Busaries, Career Oppertunities and much more.
  </p>

</div>
<ion-content>

  <ion-list>
 
    <ion-searchbar (ionInput)="filterData($event)" color="light"></ion-searchbar>
    
    <ion-card *ngFor='let opportunity of opportunities'>
      <img src={{opportunity.img}} />
      <ion-card-content>
        <ion-card-title>
          {{opportunity.title}}
        </ion-card-title>

        <!-- showMore -->
        <p (click)="showMore()" *ngIf="showContent">
          {{opportunity.description.substring(0, 60)}} ...Show more<br><br>
        </p>

        <!-- showMore -->
        <p (click)="showMore()" *ngIf="readMoreContent">
          {{opportunity.description}}  <br><br>
        </p>




        Type of Opportunity: {{opportunity.type}} <br><br>
        <div style="background-color: transparent; color: #7857fe; ">
          <b>
            
          </b>
          Closing date: {{ opportunity.closingDate }} 
        </div>
        <br>
        Field of study: {{ opportunity.studyField }}
        <br>


        <div *ngIf="opportunity.type == 'Bursaries' ; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>

         
         <a href="{{opportunity.link}}"><ion-button color="primary">Apply</ion-button></a> 


        </ng-template>
        <ng-template #elseBlock>

         <a href={{opportunity.link}}> <ion-button color="primary">Book</ion-button></a> 
        </ng-template>
       
        <ion-button color="primary" (click)="share()">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>


      </ion-card-content>


      
    </ion-card>