<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="margin-left: 20px;">News feeds</ion-title>
   <ion-icon (click)="presentAlert()" slot="start" name="log-out-outline" style="height: 30px; width: 30px; margin-left: 15px;"></ion-icon>
  </ion-toolbar>
</ion-header>


<div style="text-align: center; margin-top: 20px;">
  <p>
    <b>
       Get your latest updates on Busaries, Career Oppertunities and much more.
    </b>   
  </p>

</div>



<ion-content>

  
  <ion-list>
 
    <!-- <ion-searchbar (ionInput)="filterData($event)" color="light"></ion-searchbar> -->
    
    <ion-slides
      pager="false"
      [options]="slideOptsCategory"
      style="width: 100%; margin-top: 5%"
    >

    <ion-slide style="margin-left: 5%;">
      <button class="btn btn-primary" type="button"
      data-bs-toggle="button" autocomplete="off">
      <i class="fas fa-globe-africa" style="padding-left:5px; padding-right: 6px;"></i>
        All
      </button>
    </ion-slide>

      <ion-slide>
      
        <button class="btn btn-primary"style="border-radius: 20px;
         margin-top: 2px;" type="button"
         data-bs-toggle="button" autocomplete="off"
         >
         <i class="fas fa-university" style="padding-left:5px; padding-right: 6px;"></i>
           Bursaries         
        </button>
      </ion-slide>

      <ion-slide style="margin-left: -8%;">

        <!-- <ion-button shape="round">

          <div style="padding-right: 8px; padding-bottom: 4px;">
            <i class="fas fa-briefcase"></i>
          </div> -->
          <!-- <ion-icon
            name="airplane-outline"
            style="color: #5188d6"
          ></ion-icon> -->
          <!-- Career Opportunities
        </ion-button> -->

        <button class="btn btn-primary" type="button"
         data-bs-toggle="button" autocomplete="off"
         >
         <i class="fas fa-briefcase"></i>
          Career Opportunities        
        </button>
      </ion-slide>

      <ion-slide>
        <button class="btn btn-primary" type="button"
        data-bs-toggle="button" autocomplete="off">
            <i class="fas fa-home"></i>
          Accommodation
        </button>
      </ion-slide>


      <ion-slide style="margin-left: 5%;">
        <button class="btn btn-primary" type="button"
        data-bs-toggle="button" autocomplete="off">

            <i class="fas fa-graduation-cap"></i>
          <!-- <ion-icon slot="start" name="restaurant-outline" style="color: #5188d6"></ion-icon> -->
          Institutions
        </button>
      </ion-slide>
      
      <!-- <ion-slide (click)="navPremium()" style="margin-left:5% ;">
        <ion-button color="primary-contrast" shape="round">
          <ion-icon slot="start" name="star-outline" style="color: #5188d6"></ion-icon>
          Premium
        </ion-button>
      </ion-slide> -->
    </ion-slides>


  </ion-list>

  <ion-card *ngFor='let opportunity of opportunities' class="card-travel">
    <div class="cards-travel">
      <div>
        <img
          src={{opportunity.img}}
          style="
            width: 93%;
            margin-top: 4%;
            height: 140px;
            border-radius: 10px;
          "
        />
      </div>

      <div>
        <small style="padding-top: 55%;">{{opportunity.title}}</small> <br>
       <small> <b> Closing date: {{ opportunity.closingDate }}</b></small>
      </div>
    </div>
  </ion-card>
</ion-content>
  
    
    