<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-item lines="none">
      <ion-searchbar #search (ionChange)="_ionChange($event); " placeholder="Search by title"></ion-searchbar>
    </ion-item>
  </div>

  <div (click)="details(data)"  class="container" *ngFor="let data of opportunities ">
    <div class="card cardContent">
      <div >
        <img src="{{data.img}}" alt="image" />
      </div>

      <div>
        <h5 class="card-title">{{ data.title.substring(0, 20) }}</h5>

        <small style="color: gray; font-size: 12pt"
          > Closing date: {{ data.closingDate }}</small
        >

        <div style="display: flex; justify-content:space-between;">
          <div >
            <a href={{data.link}}> 
              <button 
                style="background-color: indigo; border-radius: 10px; color: white;"
               
             >
               Apply
            </button></a>
           </div>          
           <div><small>Type: {{data.type}}</small></div>

        </div>
      </div>
    </div>
  </div><br><br>
</ion-content>
