

<ion-content  text-center class="ion-padding ion-text-center" color="primary">
  <br><br>  <div style="display: flex; align-content: center;">
        <div style="width: 100px;">
            
        </div>
        <div>
            <ion-img  src="assets/img/linkupup.png" alt="App Logo" style="height: 150px; width:150px;"></ion-img>
        </div>

    </div>

    <div class="title">
       
    </div><br>
    <h2>Linking you to your future</h2><br><br>
    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="white">SIGN UP</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
    </div>
</ion-content>
