<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="float: right; margin-top: 20px;">
      <ion-title>Reset Your Password</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 120px; margin-left: 100px;">
    <img src="../assets/L.png" style="height: 100px"/>
  
    
  </div>

  <b>
    <p style="text-align: center;"> <span class="multicolortext"> Linking you to your future</span></p>
  </b>
  
    <form>
    <ion-item style="margin-left: 30px; margin-right: 30px;">
      <ion-input placeholder="Email" type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button style="margin-top: 30px; margin-left: 20px;  margin-right: 20px; margin-bottom: 10px" color="tertiary" type="submit" expand="block"  (click)="forgotPassword()">Send</ion-button>
      </ion-col>
    </ion-row>

    <div style="margin-left: 24px;">
      <small>
      <b>
        Please provide the email address that you used
        <br>
        when you created your Linkit-Up account.
      </b>
      
    </small>
    </div>
    
  </form>
</ion-content>