
<ion-content>

  <div style="margin-top: 120px; margin-left: 100px;">
    <img src="../assets/L.png" style="height: 100px"/>
  
    
  </div>

  <b>
    <p style="text-align: center;"> <span class="multicolortext"> Linking you to your future</span></p>
  </b>
  
    <form>
     <p style="text-align: center; font-size: xx-small;">
      <b>
        Please provide the email address that you used
        <br>
        to creat your Linkit-Up account.
      </b>
     </p>
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Email" type="email" required #email></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button style="margin-top: 30px; margin-left: 20px;  margin-right: 20px; margin-bottom: 10px" color="primary" type="submit" expand="block"  (click)="forgotPassword(email.value)">Send</ion-button>
      </ion-col>
    </ion-row>

    <div class="alert alert-success" *ngIf="message">

     please check email for new password
  
   
    </div>
    
  </form>
</ion-content>