<ion-header>
  <ion-toolbar>
    <ion-title>Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-label style="margin-top: 300px;">
    <h1 style="margin-top: 30px;">
      <b>
      Your Score: {{aps.sum}}
      </b>
    </h1>    
  </ion-label>
  
  <!-- <img src="../assets/L.png" height="160px"> -->
  <div style="margin-top: 220px; margin-bottom: 60px;">
    
    <ion-button color="tertiary" [routerLink]="'/tab3'">
    News Feed
  </ion-button>
  <ion-button color="tertiary" [routerLink]="'/tab1'">
    Search
  </ion-button>
  </div>
  
</ion-content>
