<ion-header>
  <ion-toolbar color='light'>
    <ion-title>Institution Details</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-card>
    
<img src={{showdata.img}}>

<a href={{showdata.Apply}}><ion-button style="padding: 5px;">Apply</ion-button></a> 
<ion-button  (click)="presentActionSheet()"  style="margin-left: 8%; padding: 5px;">Contact</ion-button>
<ion-button (click)="bursaries()"   style="margin-left: 9%; padding: 5px;">Funding</ion-button>



<u><h5>Institution Name:</h5></u> <br> {{showdata.University}} <br>
<u><h5>Qualification:</h5></u> <br> {{showdata.Field}} {{ showdata.QualificationType }} <br>
<u><h5>Location:</h5></u> <br> {{showdata.City}} <br>
<u><h3>About Institution: </h3></u><br> {{showdata.description}}
</ion-card>

</ion-content> -->


<ion-content>
  <ion-card >
    <img src="../../assets/Boston.jpg">
    <ion-card-content>
      <ion-card-title>
        {{ showdata.institution }}
      </ion-card-title>
      <p>
{{ showdata.description }}      </p>
    </ion-card-content>
    


<a><ion-button style="padding: 5px;">Apply</ion-button></a> 
<ion-button  style="margin-left: 8%; padding: 5px;">Contact</ion-button>

<!--{{ showdata.qualification }}
{{ showdata.years }}
{{ showdata.location }}
{{ showdata.description }}

<u><h3>Institution Name:</h3></u>
<h5>{{ showdata.institution }}</h5>

<u><h5>Qualification:</h5></u>
{{ showdata.qualification }}


<u><h5>Duration:</h5></u> <br>  <br>

<u><h5>Location:</h5></u> <br>  <br>

<u><h3>About Institution: </h3></u><br> -->

</ion-card>

</ion-content>


