ion-title{
    color: #10545a;
<<<<<<< HEAD
  }
  .container{
    display: flex;
    gap: 2%;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
  img{
    width: 150px;
    height: 120px;
    margin: 0;
    padding: 0;
  }
  p{
    color: grey;
=======
    text-align: center;
  }


  .ion-button
  {
    color: #10545a;
>>>>>>> 645dbd9f2161041a5df7f454e8217d5eba50c72c
  }