<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Institutions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="data.length == 0 ; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock> No course available at moment. </ng-template>

    <ng-template #elseBlock>
      <div (click)="details(data)" class="container" *ngFor="let data of data">
        <div class="card cardContent">
          <div >
            <img src="{{data.img}}" alt="image" />
          </div>

          <div>
            <h5 class="card-title">{{ data.institution }}</h5>

            <small style="color: gray; font-size: 12pt"
              >{{ data.location }}</small
            >

            <div style="display: flex; justify-content:space-between;">
              <div><small>{{ data.qualification}}</small></div>
              <div><small>{{data.years}}</small></div>
  
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-list>
</ion-content>
