<ion-header>
  <ion-toolbar>
    <ion-title>institutions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

  <div *ngIf="data.length == 0 ; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
   
    No course available at moment based what you searche 

    

  </ng-template>
  <ng-template #elseBlock>
    
    <ion-item *ngFor="let data of data">
      <ion-thumbnail item-start>
        <img src="../../assets/institutions/download.png" alt="">
        </ion-thumbnail>
      <h4>{{ data.institution }}</h4> <br>
       <p>{{ data.location }}</p>
       <button ion-button (click)="details(data)">view</button>
      </ion-item>

  </ng-template>
  
  
</ion-list>
</ion-content>
