.title {
    margin-bottom: 30px;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

p {
    font-size: small;
    color: #999999;
}
.show-error{
    padding-top: 0.2rem;
    color: red;
    font-size: 12px;
}
input{
    --placeholder-color: red;
    --placeholder-opacity: 1;
}.showDiv {
    background-color: aqua;
    height: 200px;
    width: 500px;
 }
 
 .hideDiv {
    display: none;
 }ion-content{

    --ion-background-color :white;
    }